@import "tailwindcss";
@plugin "daisyui";

body {
    background: #EEF1FF;
    background-repeat: no-repeat;
    background-position: center;
}

/* F4F6FF */
/*Breathe a second life into your old hardware. Upload diagnostics and get smart suggestions for reuse. Check out the coming soon section for upcoming integration of generative AI capabilities and much more.*/