@import "tailwindcss";
@plugin "daisyui";

body {
    background: #FFF5E4;
    background-repeat: no-repeat;
    background-position: center;
}


/* current - FFE8C5 
F4F6FF EEF1FF FFF5E4*/
/*Breathe a second life into your old hardware. Upload diagnostics and get smart suggestions for reuse. Check out the coming soon section for upcoming integration of generative AI capabilities and much more.*/